<div class="parent">
<h1>Sree Mytri Fashions</h1>    
<h2>Login</h2>

<form [formGroup]="loginform" (ngSubmit)="login()">
 
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="email" placeholder="abc@gmail.com" name="uname" required formControlName="email">
    <div *ngIf="loginform.get('email')?.touched && loginform.get('email')?.invalid">
      <p class="error" *ngIf="loginform.get('email')?.errors?.['required']" style="color: crimson;">Email Required</p>
      <p class="error" *ngIf="loginform.get('email')?.errors?.['email']" style="color: crimson;">Enter Valid Email</p>
    </div>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required formControlName="password">
    <div *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
      <p class="error" *ngIf="loginform.get('password')?.errors?.['pattern']" style="color: crimson;">Enter valid Password</p>
    </div>

   <a href="">ForgotPassword</a>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="form-group">No Account? <a href="" routerLink="/register">Register</a></div>
</form>
</div>