<div class="parent">
<h1>Sree Mytri Fashions</h1>    
<h2>Login</h2>

<form [formGroup]="loginform">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="email" placeholder="Enter Username"
     name="uname" required formControlName="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password"
     name="psw" required formControlName="password">
        
    <button type="submit" (click)="login()">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="form-group">No Account? <a href="" routerLink="/register">Register</a></div>
</form>
</div>