<app-header></app-header>
<!-- ======================================================================== -->
  
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxlarge"><b>Sree Mythri Fashions</b></h1>
    <h6>One Destination for all your Occasions</h6>
  </header>

  <div class="container">
    <img src="/assets/images/SMF-1.jpg" alt="Snow" style="width:100%">
    <button class="button"><a href="" routerLink="/login"><span>Explore</span></a></button>
  </div>

 <!-- Grid -->
 <div class="w3-row w3-padding w3-border">
  <div class="content-container">
    <!-- Blog entries -->
    <div class="w3-col l8 s12 blog-entries">
    
      <!-- Blog entry 1 -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>ABOUT US</h3>
          <h5>Title description, <span class="w3-opacity">May 2, 2016</span></h5>
        </div>

        <div class="w3-justify">
          <img src="/assets/images/SMF-1.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
          <p>Welcome to <b><i>Sree Mythri Fashions</i></b>,where fashion meets craftsmanship. We specialize in curating an
            exquisite range of women’s clothing, from contemporary dresses to traditional sarees, with an emphasis
            on personalized blouse stitching services. Whether you're looking for the latest trends in designer wear
            or the perfect custom fit for your saree blouse, our boutique has it all.</p>

            <p> At <b><i>Sree Mythri Fashions</i></b>, every woman finds her style—be it chic evening gowns, elegant day dresses, or
              intricate ethnic wear. Our bespoke blouse stitching service is renowned for turning your saree ensemble
              into a masterpiece, with designs tailored to fit perfectly and enhance your natural grace.</p>
      
        </div>
      </div>
      <hr>

      <!-- Blog entry 2 -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
          <h3>TITLE HEADING</h3>
          <h5>Title description, <span class="w3-opacity">April 23, 2016</span></h5>
        </div>

        <div class="w3-justify">
          <img src="/assets/images/SMF-1.jpg" alt="Men in Hats" style="width:100%" class="w3-padding-16">
          <p>Our expert tailors and designers work with you to bring your vision to life, offering unmatched attention to detail,
            premium fabrics, and unique patterns. From trendy fusion wear to timeless classics, we cater to every occasion with
            precision and passion.</p>
          <p class="w3-clear">Whether you’re planning for a wedding, a festive celebration, or just a wardrobe refresh, step into <b><i>Sree Mythri Fashions</i></b>
            for a personalized fashion experience that blends beauty, comfort, and style in every stitch.</p>
        </div>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="w3-col l4 s12 sidebar">
      
      <!-- About Card -->
      <div class="w3-white w3-margin">
        <img src="/assets/images/SMF.Logo.jpeg" alt="Jane" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black">
          <h4>My Name</h4>
          <p>Just me, myself and I, exploring the universe of uknownment. I want to share my world with you.</p>
        </div>
      </div>
      <hr>

      <!-- Popular Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="/assets/images/SMF.Logo.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Denim</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <!-- More posts here -->
        </ul>
      </div>
      <hr>

      <!-- Tags -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Fashion</span>
            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span>
            <!-- More tags here -->
          </p>
        </div>
      </div>
      <hr>

      <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Inspiration</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s6">
            <p><img src="/assets/images/SMF.Logo.jpeg" alt="Jeans" style="width:100%"></p>
          </div>
        </div>
      </div>
      <hr>

      <!-- Follow Us -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>Follow Us</h4>
        </div>
        <div class="w3-container w3-xlarge w3-padding">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <!-- More social icons here -->
        </div>
      </div>
    </div>
  </div>
</div>



<!-- =================================================================================== -->
<br><br>
<app-footer></app-footer>
